* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif;
    --headerMult: 3px;
    margin: 0;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1em;
}

p {
    margin-top: 0;
}

ul li.filler {
    width: -webkit-fill-available;
    width: -moz-fill-available;
    border-bottom: 2px solid #000;
}

.flex {
    display: flex;
    flex-flow: row nowrap;
}

ul.flex {
    flex-flow: row wrap;
    list-style-type: none;
    padding: 0;
}

.flex .form-item {
    margin: 0;
}

.flex .form-item :is(input, label) {
    margin-bottom: 0;
}

.container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media (max-width: 767px) {
    .container {
        max-width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.hidden {
    display: none;
}

input {
    margin-bottom: 1rem;
}

.form-item {
    margin-bottom: 1rem;
}

.form-item label {
    display: inline-block;
    vertical-align: top;
    margin-right: 1rem;
}

/* Filter Section */

#filter-section {
    /*background: #dbdbdb;*/
    padding: 1em;
    border: 2px solid #000;
}

#filter-tab-list {
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.tab-button {
    padding: 0.5rem 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}

.tab-button.active {
    border: solid 2px #000;
    border-bottom: none;
    font-weight: bold;
}

.tab-button:not(.active) {
    color: #9d9d9d;
    border: solid 2px #9d9d9d;
    border-bottom-color: #000;
}

.filter-form-tab {
    padding: 1rem;
    border: 2px solid #000;
    border-top: none
}

.filter-form-tab:not(.active) {
    display: none;
}

.ad-filter-group {
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
}

#aerodrome-list {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1rem;
}

#selected-aerodromes {
    width: -webkit-fill-available;
    width: -moz-fill-available;
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
    padding: 0.25rem;
    border-radius: 5px;
    background-color: #e2e2e2;
}

#selected-aerodromes .aerodrome {
    position: relative;
    display: inline-block;
    padding: 0.5rem 1.25rem 0.5rem 0.5rem;
    margin: 0;
    background-color: #191970;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
}

#selected-aerodromes .aerodrome .close-button {
    content: "x";
    font-size: 1rem;
    font-weight: normal;
    position: absolute;
    right: 4px;
    top: -1px;
    cursor: pointer;
}

.inline-header {
    display: inline-block;
    margin-right: 1rem;
}

#time-filter-list,
#notam-type-list {
    display: inline-flex;
    list-style-type: none;
    padding-left: 0;
}

:is(#time-filter-list,
    #notam-type-list) li {
    margin-right: 1em;
}

/* NOTAM Section */

#notams {
    padding: 1.5em;
}

#notams h2 {
    text-decoration: underline;
}

.notam {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #dadada;
    padding: 1.5em;
    margin-bottom: 0.5rem;
}

.notam:not(:last-child) {
    border-bottom: 1px solid #fff;
    padding-bottom: 1em;
}

:is(.notam-heading, .notam-validity, .notam-heights) *:first-child {
    margin: 0 0.5em 0.5em 0;
}

.notam-reference {
    display: inline-block;
    font-weight: bold;
}

@media screen and (max-width: 767px) {
    .notam-body {
        font-size: 0.9em;
        line-height: 1.3;
    }
}